.container {
  box-sizing: content-box;
}

.hov {
  width: 10em;
  height: 10em;
  background-color: lightgreen;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-property: border-radius; /** 参与缓动的属性 */
}

.hov:hover {
  background-color: lightcoral;
  border-radius: 50%;
}
